@model IEnumerable<ForumThread>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@Model.Count()

<form asp-controller="Threads" asp-action="Create" >
    <label for="poster">Add a name for the poster: </label>
    <input type="text" id="poster" name="poster" value=""/>
    <label for="title">Add a thread title: </label>
    <input type="text" id="title" name="title" value=""/>
    <label for="content">Add content: </label>
    <input type="text" id="content" name="content" value=""/>
    <button type="submit" value="submit">Submit</button>
</form>