@model IEnumerable<ForumThread>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container-md">
<h2>title</h2>
<form asp-controller="Threads" asp-action="Create" class="form-group mb-5" method="post">
    <label for="poster">Add a name for the poster: </label>
    <input type="text" id="poster" name="poster" value=""/>
    <label for="title">Add a thread title: </label>
    <input type="text" id="title" name="title" value=""/>
    <label for="content">Add content: </label>
    <input type="text" id="content" name="content" value=""/>
    <button type="submit" value="submit">Submit</button>
</form>

<table class="table table-striped">
    <tr>
        <th>Poster</th>
        <th>Title</th>
        <th>Date Created</th>
        <th>Last Updated</th>
        <th></th>
    </tr>
    @foreach (var forumThread in Model)
    {

        <tr>
            <td>@forumThread.Poster.NickName</td>
            <td>@forumThread.Title</td>
            <td>@forumThread.DateCreated</td>
            <td>@forumThread.LastUpdated</td>
            <td>
                <a asp-action="Thread" asp-route-id=@forumThread.Id>Read</a>
            </td>
        </tr>

    }
</table>
</div>
