@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
    bool isEven = false;
    int x = 10 * new Random().Next();
    if (x % 2 == 0) isEven = true;
}

<div class="text-center">
    <p>The number was @x which is @isEven even</p>
</div>